<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/jdbc 
	http://www.springframework.org/schema/jdbc/spring-jdbc-3.1.xsd
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/data/jpa 
		http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd">

	<jpa:repositories base-package="com.nordnet.topaze.livraison.core.repository"
		entity-manager-factory-ref="entityManagerFactory" />

	<import resource="classpath:/META-INF/spring/applicationContextTracage-dev.xml" />

	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>

	<!-- database support -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/topaze_test" />
		<property name="username" value="test" />
		<property name="password" value="test" />
	</bean>
	
	<jdbc:initialize-database data-source="dataSource">
		<jdbc:script location="classpath:/sql/init_mysql.sql"
			encoding="UTF-8" />
	</jdbc:initialize-database>

	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="persistenceUnitName" value="topaze" />
		<property name="persistenceXmlLocation" value="classpath:/META-INF/persistence-test.xml" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<property name="database" value="MYSQL" />
				<property name="databasePlatform" value="org.hibernate.dialect.MySQL5InnoDBDialect" />
				<property name="showSql" value="true" />
				<property name="generateDdl" value="true" />

			</bean>
		</property>
	</bean>

	<bean
		class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor">
		<property name="defaultPersistenceUnitName" value="topaze" />
	</bean>

	<!-- Bean d'acces au Contexte -->
	<bean id="applicationContextHolder"
		class="com.nordnet.topaze.livraison.core.util.spring.ApplicationContextHolder" />

	<!-- <context:annotation-config /> -->
	<!-- scan du projet -->
	<context:component-scan base-package="com.nordnet.topaze.livraison.core.domain" />
	<context:component-scan base-package="com.nordnet.topaze.livraison.core.repository" />
	<context:component-scan base-package="com.nordnet.topaze.livraison.core.service" />
	<context:component-scan base-package="com.nordnet.topaze.livraison.core.rest" />

	<!-- Mock LivraisonMessagesSender -->
	<bean id="livraisonMessagesSender"
		class="com.nordnet.topaze.livraison.test.mock.LivraisonMessagesSenderMock" />

	<!-- Mock RecuperationMessagesSender -->
	<bean id="recuperationMessagesSender"
		class="com.nordnet.topaze.livraison.test.mock.RecuperationMessagesSenderMock" />

	<!-- Mock RecuperationMessagesSender -->
	<bean id="migrationMessagesSender"
		class="com.nordnet.topaze.livraison.test.mock.MigrationMessagesSenderMock" />

	<bean id="topazeExceptionsProperties"
		class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="location" value="classpath:topaze-exceptions.properties" />
	</bean>

	<bean id="dynamicProperties"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<!-- check property file(s) every 1 second -->
		<property name="cacheSeconds" value="1" />
		<property name="basenames">
			<list>
				<value>dynamic</value>
			</list>
		</property>
	</bean>

	<bean id="sendAlert" class="com.nordnet.common.alert.ws.client.SendAlert">
		<property name="url">
			<value>${sendAlertServiceUrl}</value>
		</property>
	</bean>
</beans>