<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/jdbc 
	http://www.springframework.org/schema/jdbc/spring-jdbc-3.1.xsd
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/data/jpa 
		http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- Bean d'acces au Contexte -->
	<bean id="applicationContextHolder"
		class="com.nordnet.topaze.resiliation.outil.util.spring.ApplicationContextHolder" />

	<bean id="restURLProperties"
		class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="location" value="classpath:rest-url.properties" />
	</bean>

	<bean id="topazeExceptionsProperties"
		class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="location" value="classpath:topaze-exceptions.properties" />
	</bean>

	<!-- <context:annotation-config /> -->
	<!-- scan du projet -->
	<context:component-scan base-package="com.nordnet.topaze.migration.outil.service" />
	<context:component-scan base-package="com.nordnet.topaze.migration.outil.rest" />
	<context:component-scan base-package="com.nordnet.topaze.migration.outil.facturation" />
	
	<bean id="dynamicProperties" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <!-- check property file(s) every 1 second -->
        <property name="cacheSeconds" value="1"/>
        <property name="basenames">
            <list>
                <value>file:${dynamic.properties}</value>
            </list>
        </property>
    </bean>
	
	<!-- Mock contrat rest -->
	<bean id="restClient" class="com.nordnet.topaze.resiliation.outil.test.mock.RestClientMock" />
	
	<bean id="sendAlert" class="com.nordnet.common.alert.ws.client.SendAlert">
            <property name="url">
                  <value>${sendAlertServiceUrl}</value> 
            </property>
      </bean>
	
</beans>
